### Site Settings ###
title               : Wai Sing Ngan
description         : >-
                      A Robotics Engineer working on ADAS software for boats.
                      BEng in Computer and Data Engineering, City University of Hong Kong.
                      Passionate in robotics, research interests are Computer Vision, SLAM, and Autonomous Driving.
baseurl             :           # Change to empty quotes if you are hosting your site at <your-username>.github.io directly
repository          :       # Change to <your-username>/<your-username>.github.io (or remove it if you don't need remote projects)
remote_theme        : yousinix/portfolYOU
open_new_tab        : false                    # Opens external URLs in new tab (works for posts, projects and navbar only)


### Plugins ###
plugins:
  - jemoji
  - jekyll-pdf-embed


### Navbar Settings ###
nav_exclude:                                            # The following paths are excluded from navbar
  - pages/tags.html
  - pages/404.html
  - pages/index.md


### Author Info ###
author:
  name              : Derek Ngan
  image             : /images/profile.jpg
#  behance           : your_username
# dribbble          : your_username
  email             : derekngan99@gmail.com
#  facebook          : your_username
#  github            : your_username
# gitlab            : your_username
# instagram         : your_username
# kaggle            : your_username
  linkedin          : wai-sing-ngan-135b461b0
#  medium            : your_username
# soundcloud        : your_username
# spotify           : your_username
# stackoverflow     : your_user_id
# tumblr            : your_username.tumblr.com
# twitch            : your_username
#  twitter           : your_username
# vimeo             : your_username
# youtube           : your_channel_name
# keybase           : your_username


### Posts ###
permalink: /blog/:title


### Collections ###
collections:
  projects:
    output: true
    permalink: /projects/:name
  robots:
    output: true
    permalink: /robots/:name
    


### Disqus ###
disqus:
  shortname: your-short-name-disqus                     # Your website Shortname on disqus


### Analytics ###
analytics:
  enabled: false                                        # Set true to enable analytics
  google:
    tracking_id: your-google-tracking-id


### Defaults for collections ###
defaults:
  - scope:
      path: ""
      type: "projects"
    values:
      layout: "page"
  - scope:
      path: ""
      type: "robots"
    values:
      layout: "page"
  - scope:
      path: ""
      type: "posts"
    values:
      comments: false                                   # Set to true to enable disqus comments


### Exclude from processing ###
exclude:
  - Gemfile # implies Gemfile* so matches Gemfile.lock
  - vendor/
  - README.md
  - CONTRIBUTING.md
  - LICENSE
  - "*.log"
